# Dependencies
node_modules/

# Logs and others
*.log
log.txt
npm-debug.log*
test-output/
testOutput.txt
testResults.txt
ignored/
tmp/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Build
dist/